<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<div>Recent Items</div>

<div>Published by:</div>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', user_root_path %>
