div.dashboard {
  width: 30%;
  float: left;
}

div#session_actions {
  float: right;
}

div#tagline {
  width: 500px;
  margin: auto;
  text-align: center;
  color: #6F3;
}

div#container {
  width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFF;
}

li.help_info {
  list-style-type: none;
  padding-bottom: 10px;
}

em {
  font-style: normal;
  font-weight: bold;
}

#small_note {
  font-size: 80%;
}
