body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

h2, h3 {
  color: #008099; 
}

div.actions {
  margin-bottom: 10px;
}

#notice, #alert {
  color: #7F9A3C;
  font-size: 125%;
}

#session_actions {
  float: right;
  padding-top: 15px;
  text-align: right;
}

#title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}  

#container {
  width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFF;
}

#help_info {
  color: #008099;
  margin-top: 20px;
  font-size: 125%;
}

li.help_info {
  list-style-type: none;
  padding-bottom: 10px;
}

ul#item_list {
  padding: 0px;
  margin-left: 0px;
  margin-top: 0px;
  list-style-type: none;
}

#logo {
  width: 30%;
  border: 0 none;
}

img {
  border: 0 none;
}
img#blue-stream {
  width: 900px;
  margin-top: 20px;
}

a.image-border {
  text-decoration: none;
  border: 0 none;
}

a { 
  color: #000; 
  text-decoration: underline;
}

a:hover {
  color: #000; 
  text-decoration: underline;
}

.dashboard-header {
  font-size: 16px;
  vertical-align: 7px;
}

.button, .button:visited {
  font-size: 14px;
  display: inline-blockrail;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  border: solid 1px #cccccc;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  color: white;
  background-color: #008099;
  margin: 10px 0;
}

.help {
  font-size: 13px;
  padding-right: 20px;
}

.create-links {
  margin-top: 20px;
}

body { background-color: #fff; color: #333; }

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #7F9A3C;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div.input {
  display: block;
  padding: 7px 0;
}

label.collection_check_boxes, label.string, label.check_boxes {
  display: block; 
}

select, textarea {
  display: block;
}

select {
  width: 150px;
}

#recipient_form {
  width: 65%;
  float: left;
}

.stream-container {
  background-color: #EDEDED;
  margin-bottom: 7px; 
  border: 1px solid #DDD;
  padding: 5px 10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

.streams { 
  font-size: 1.2em;
  margin-bottom: 10px;
}

.feeds {
  margin-bottom: 10px;
}

.destinations {
  margin-bottom: 10px;
}

.delete-stream {
  font-size: .85em;
}

div.names {
  color: #008099; 
  font-size: 1.2em;
  margin-top: 7px;
}

div#new-stream {
  width: 50%;
  float: left;
}

div#new-feed {
  width: 50%;
  float: right;
  display: none;
}

p#dashboard-link {
  clear: left;
}
