.dashboard {
  width: 30%;
  float: left;
}

#session_actions {
  float: right;
}

#title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}  

#tagline {
  color: #6F3;
}

#container {
  width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFF;
}

#help_info_container {
  margin-top: 20px;
}

li.help_info {
  list-style-type: none;
  padding-bottom: 10px;
}

em {
  font-style: normal;
  font-weight: bold;
}

#small_note {
  font-size: 80%;
}
