<% if feed && feed.items.count > 0 %>
  <div>
    <b>Recent Items:</b>
    <ul id="item_list">
    <% feed.recent_items.each do |item| %>
      <li><%= link_to item.title, item.link %></li>
    <% end %>
  </ul>
  </div>
<% end %>
