<div>
  <b>Feed:</b>
  <% if @stream.feed %>
    <%= link_to @stream.feed.name, feed_path(@stream.feed) %>
  <% elsif %>
    <em>There is no feed associated with your stream. Please click edit to choose a feed you wish track.</em>
  <% end %>
</div>

<div>
  <b>Twitter Account:</b>
  <% @stream.twitter_accounts.each do |account| %>
    <%= link_to account.handle, "http://twitter.com/#{account.handle}" %>
  <% end %>
  <% if @stream.twitter_accounts.empty? %>
    <em>There is no twitter account associated with your stream. Please click edit to choose a twitter account you wish track.</em>
  <% end %>
</div>
<br />
<%= render :partial => 'recent_items', :locals => { :feed => @stream.feed } %>
