<div>
  <b>Feed:</b>
  <% if @stream.feed %>
    <%= @stream.feed.name %>
  <% elsif %>
    <em>There is no feed associated with your stream. Please click edit to choose a feed you wish track.</em>
  <% end %>
</div>

<div>
  <b>Twitter Account:</b>
  <% if @stream.twitter_account %>
    <%= @stream.twitter_account.handle %>
  <% elsif %>
    <em>There is no twitter account associated with your stream. Please click edit to choose a twitter account you wish track.</em>
  <% end %>
</div>

<% if @stream.feed && @stream.feed.items.count > 0 %>
  <div>
    <b>Recent Items:</b>
    <% @stream.feed.items.each do |item| %>
      <p><%= link_to item.title, item.link %></p>
    <% end %>
  </div>
<% end %>
