<div>
  <b>Feed:</b>
  <% if @stream.feed %>
    <%= link_to @stream.feed.name, feed_path(@stream.feed) %>
  <% elsif %>
    <em>There is no feed associated with your stream. Please click edit to choose a feed you wish track.</em>
  <% end %>
</div>

<div>
  <b>Twitter Account:</b>
  <% if @stream.twitter_account %>
    <%= link_to @stream.twitter_account.handle, "http://twitter.com/#{@stream.twitter_account.handle}" %>
  <% elsif %>
    <em>There is no twitter account associated with your stream. Please click edit to choose a twitter account you wish track.</em>
  <% end %>
</div>

<% if @stream.feed && @stream.feed.items.count > 0 %>
  <div>
    <b>Recent Items:</b>
    <ul id="item_list">
    <% @stream.feed.recent_items.each do |item| %>
      <li><%= link_to item.title, item.link %></li>
    <% end %>
  </ul>
  </div>
<% end %>
