<h1>Dashboard</h1>

<div class="dashboard">
  Configured Accounts
  <% @twitter_accounts.each do |account| %>
    <div><%= link_to account.handle, "http://twitter.com/#{account.handle}" %></div>
  <% end %>

  <div><%= link_to "Add new Twitter Account", twitter_connect_path %></div>
</div>

<div class="dashboard">
  Feeds 
  <% @feeds.each do |feed| %>
    <div><%= link_to feed.name, feed.url %></div>
  <% end %>
  <div><%= link_to "Add new feed", new_feed_path %></div>
</div
