<div id="help_info">
  <strong>How does this work?</strong>
</div>
  <ul>
    <li class="help_info">
      <strong>Step 1: Create an account.</strong>
      <div>This is easy, just click the sign up button.</div>
    </li>
    <li class="help_info">
      <strong>Step 2: Let lifeStreams know about your blog(s).</strong>
      <div>Give lifeStreams the URL for you blog(s).</div>
    </li>
    <li class="help_info">
      <strong>Step 3: Authorize lifeStreams to work with your Twitter account(s).</strong>
      <div>This is as simple as clicking on the Add Twitter Account link and authorizing lifeStreams to post to your twitter page.</div>
    </li>
    <li class="help_info">
      <strong>Step 4: Hook up your newly created feed and Twitter account by creating a "stream".</strong>
      <div>Just give your stream a name and pick which feed and Twitter account to tie together.<div>
    </li>
    <li class="help_info">
      <strong>Step 5: Profit!!!</strong> 
      <div>Well, maybe you won't make any money, but you won't have to remember to update your Twitter status when you post a new blog anymore. lifeStreams will tell all your Twitter followers for you.</div>
    </li>
  </ul>
</div>
