<div id="help_info_container">How does this work?</div>
  <ul>
    <li class="help_info">
      <strong>Step 1: Create an account.</strong>
      <div>This is easy, just click the sign up button.</div>
    </li>
    <li class="help_info">
      <strong>Step 2: Let Life Streams know about your feed(s).</strong>
      <div>Go to your blog, grab the feed url, and paste it into Life Streams.
        <span id="small_note">(In the future, Life Streams will be smarter and find out your feed urls just by knowing your blog url.)</span>
      </div>
    </li>
    <li class="help_info">
      <strong>Step 3: Authorize Life Streams to work with your Twitter account(s).</strong>
      <div>This is as simple as clicking on the Add Twitter Account link and following the rest of the directions.</div>
    </li>
    <li class="help_info">
      <strong>Step 4: Hook up your newly created feed and Twitter account by creating a "stream".</strong>
      <div>Just give your stream a name and pick which feed and Twitter account to tie together.<div>
    </li>
    <li class="help_info">
      <strong>Step 5: Profit!!!</strong> 
      <div>Well, maybe you won't make any money, but you won't have to remember to update your Twitter status when you post a new blog anymore. Life Streams will handle that for you.</div>
    </li>
  </ul>
</div>
