<h1>Import email list recipients</h1>

<div id="recipient_form">
  <%= render 'import_form' %>

  <%= link_to 'Back to Dashboard', user_root_path %>
</div>

Example recipients:
<%= image_tag 'example_recipients.png' %>

